body {
  background-color: #eeeeee;
}
.sticky-top {
  padding-left: 20px;
  animation: masuk1 0.5s forwards;
}
.logo1 {
  animation: masuk2 1s forwards;
}
@keyframes masuk1 {
  from {
    transform: translatey(-100%);
  }
  to {
  }
}
@keyframes masuk2 {
  from {
    transform: translatey(-170%);
  }
  to {
  }
}
.jumbotron {
  animation: masuk3 1s forwards;
}
@keyframes masuk3 {
  from {
    transform: translatex(-50%);
  }
  to {
  }
}
.card {
  animation: masuk4 1s forwards;
}
@keyframes masuk4 {
  from {
    transform: translatex(150%);
  }
  to {
  }
}
.kelas1 {
  background-color: #068fff;
  color: #eeeeee;
  z-index: 100;
  position: relative;
}
.isi1 {
  background-color: #068fff;
  padding: 20px;
}
.img1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn-primary {
  background-color: #4e4feb;
  border-color: #4e4feb;
}
.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}
.coblue {
  color: #4e4feb;
}
.jasa h5,
.jasa p {
  color: #eeeeee;
}
.jasa h5 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 3px 0px #068fff;
}
.jasa h6 {
  color: #068fff;
}
.carousel-caption {
  max-width: 80%; /* Adjust as needed */
  margin: 0 auto; /* Centers the caption */
  bottom: 20px; /* Adjust vertical position */
}
.carousel-white {
  z-index: 98;
  position: relative;
}
#carouselExampleWhite {
  transform: translateY(-60%);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Durasi dan fungsi ease yang berbeda */
  transform: translate3d(0, 60%, 0); /* Mencoba hardware acceleration */
}

#carouselExampleWhite.animate {
  transform: translateY(0);
  transform: translate3d(0, 0, 0); /* Mencoba hardware acceleration */
}


#jadwal {
  transform: translateX(-15%);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Durasi dan fungsi ease yang berbeda */
  transform: translate3d(-15%, 0, 0); /* Mencoba hardware acceleration */
}

#jadwal.animate {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); /* Mencoba hardware acceleration */
}
#lokasi {
  transform: translateX(15%);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Durasi dan fungsi ease yang berbeda */
  transform: translate3d(15%, 0, 0); /* Mencoba hardware acceleration */
}

#lokasi.animate {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); /* Mencoba hardware acceleration */
}



#kelas1 {
  transform: translateX(-15%);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Durasi dan fungsi ease yang berbeda */
  transform: translate3d(-15%, 0, 0); /* Mencoba hardware acceleration */
}
#kelas1.animate {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); /* Mencoba hardware acceleration */
}


#kelas1part2 {
  transform: translateX(15%);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Durasi dan fungsi ease yang berbeda */
  transform: translate3d(15%, 0, 0); /* Mencoba hardware acceleration */
}

#kelas1part2.animate {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); /* Mencoba hardware acceleration */
}



.jadwal {
  background-color: #eeeeee;
  color: #068fff;
  z-index: 99;
  position: relative;
}
.jadwal h1, .jadwal h2 {
  font-weight: 900;
}
.jam {
  font-weight: 900;
  font-size: 400%;
}
.waktu {
      font-weight: 900;
      font-size: 250%;
}
.isi2 {
  background-color: #eeeeee;
  padding: 20px;
}
.map {
  background-color: #068fff;
  padding: 1rem;
  color: #eeeeee;
  justify-content: center;
}
iframe {
  width: auto;
  height: 15rem;
}
#carouselExampleOpacity {  
  opacity: 0;  
  transition: opacity 1s ease; /* Durasi animasi opasitas */  
  animation-delay: 2s;
}  

#carouselExampleOpacity.animate {  
  opacity: 1;  
} 

.profil h1 {
font-weight: 900;
}